.matInput {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 300px;
    max-width: 400px;
}

.matToolBar {
    text-align: center;
    color: white;
    background-color: #4169E1;
}

.matButtonRow {
    display: flex;
    gap: 12px;
    justify-content: center;
}

.navContainer {
    font-size: 0;
}

.pageCenter {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    color: white;
}

a {
    text-decoration: none;
}

.actionButtons {
    background-color: #004f4f !important;
}