.container {
    position: fixed;
    top: 2;
    left: 0;
    height: 100%;
    width: 105px;

}

.sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.sideNavPosition {
    top: 0;
}

.sidenav {
    padding: 20px;
    background-color: #4169E1;
}

.flexButton {
    display: flex;
    flex-direction: column;
    width: 15%;
    gap: 10px;
}

.sideNav {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.matInput {
    text-align: center;
}

.matToolBar {
    text-align: center;
    color: white;
    background-color: #4169E1;
}

.navContainer {
    font-size: 0;
}

a {
    text-decoration: none;
}